# Emacs Extras #
################
emacs.d/places
emacs.d/auto-save-list/
emacs.d/backups/
emacs.d/ido.last
emacs.d/test/
emacs.d/test.sh

# Nix build output symlinks #
##############################
result
result-*

# theme-switch generated adapter (issue 08 / ADR-0009) #
##########################################################
doom/themes/theme-colors.el
scripts/__pycache__/

# OSx Junk #
############
.DS_Store
.DS-Store?
._*
.Spotlight-V100
.Trashes
.ehthumbs.db
Thumbs.db
